body
{
    background-image: url(bk.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    
}
p
{
    background-color: aqua;
    text-align: center;
    opacity: 80%;
    margin-left: 150px;
    margin-right: 150px;
}
h1
{
    background-color: aqua;
    text-align: center;
    opacity: 80%;
    margin-left: 500px;
    margin-right: 500px;
}
h2
{
    background-color: aqua;
    text-align: center;
    opacity: 80%;
    margin-left: 400px;
    margin-right: 400px;
}

