body {
    background-image: url('BK.JPG');
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
      }
 .btn {
    background-color: red;
     border: none;
     color: white;
     padding: 12px 16px;
     font-size: 16px;
    cursor: pointer;
      }
.btn:hover {
     background-color: RoyalBlue;
      }
#img{
     position: relative;
     top:-170px;
    left:-100px;
     }
form{
     position: relative;
    top:50px;
    left:100px;
    }
  h1{
    color: white;
    border-style: solid;
    border-color: red;
    background-color: red;
    }
  h4{
    color: white;
    border-style: solid;
    border-color: red;
    background-color: red;
    position: relative;
    top:-70px;
     left:100px;
        }
 h2{
    color: white;
    border-style: solid;
    border-color: blue;
    background-color: rgb(81, 121, 107);
    }
 h3{
      color: white;
    border-style: solid;
    border-color: blue;
    background-color: gray;
    }   
  img {
    border-radius: 20%;
        }

.relative {
    position: left;
    left: 30px;
    border: 3px solid #73AD21;
           }
